*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /***/
}
@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,200;1,200 & display=swap');
/**titulo del encabezado del index*/
.tamanioTitulosPrincipales{
    color: rgb(255, 255, 255);
    font-size: 46px;
    font-weight: 600;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
/**primera parte del main index */
.titulo{
    color: rgb(19, 133, 85);
    font-size: 33px;
    font-weight: 600;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
/**articulo del leon 2da y 3ra parte del main index*/
section article h3{
    padding:15px;
    font-style: inherit;
    font-weight: 600;
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
}
/**saco el punto de las listas */
nav ul li {
    list-style: none;
}
/**saco el subrayado*/
nav ul li a{
    text-decoration: none;
}
section article .yutu{
    width: 100%;
}
/**seccion del leon index*/
section article{
    background: #34e89e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/**camaleon index*/
.background-img{
    width: 100%;
    background-image: url(../assets/meleoron.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
}
/**article texto index*/
.lion h3{
    padding: 10px;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
    color: rgb(10, 105, 61);
}
.lion p{
    padding: 5px;
    font-size: medium;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
/**pie de pagina */
footer{
    color: azure;
    background-color: #0f3443;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 1em;
    font-style: inherit;
    list-style: none;
}
footer ul li a{
    color: azure;
    text-decoration: none;
}
footer ul{
    
    list-style: none;
}
/**F-I-T redes sociales*/
.redesSociales{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: azure;
}
.redesSociales img{
    border-radius: 50%;
}
/**barra de navegacion*/
.navBar li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-style: inherit;
}
/** color del main*/
main{
    background-color: rgb(231, 231, 224);
}
/** posicionamiento de la barra de navegacion*/
.navBar{
    display: flex;
    margin-left: 75px;
    padding: 25px;
    justify-content: space-around;
}
/**primera parte main, index */
.contenedor-nuestra-mision{
    width: 100%;
    padding: 60px;
    font-family: 'Poppins', sans-serif;
    font-style: inherit;
}
/**imagen del abrazo del tigre*/
.contenedor-nuestra-mision .abrazo-tigre{
    width: 300px;
    margin-right: 20px;
} 
/**efecto en la barra de navegacion*/
.navBar li a:hover{
    background-color: rgb(0, 2, 0);
}
/**titulo alimentacion*/
section .tituloTuc{
    color: rgb(255, 255, 255);
    font-size: 46px;
    font-weight: 600;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
/**tucan alimentacion*/
.background-img-tucan{
    width: 100%;
    background-image: url(../assets/tucan.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}
/** main alimentacion*/
main img{
    padding-left: 40px;
    width: 40%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.priPartAliment h2{
    padding: 20px;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
.priPartAliment h3{
    padding: 10px;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
.partAliment{
    padding: 20px;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
main .frutas{
    display: flex;
    align-items: center;
}
/**yaguarete AEPE*/
.background-img-yaguarete{
    width: 100%;
    background-image: url(../assets/yaguarete.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/**titulo AEPE*/
section .tituloYag{
    color: rgb(255, 255, 255);
    font-size: 46px;
    font-weight: 600;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
/**partes de AEPE*/
.parteUno{
    padding: 30px;
    font-style: inherit;
    font-weight: 600px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.parteUno img{
    padding: 20px;
}
.parteDos{
    padding: 30px;
    font-style: inherit;
    font-weight: 600px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.parteDos img{
    padding: 20px;
}
.parteTres{
    padding: 30px;
    font-style: inherit;
    font-weight: 600px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.parteTres img{
    padding: 20px;
}
/**coco novedades*/
.background-img-cocodrilo{
    width: 100%;
    background-image: url(../assets/crocodile.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.asideNov{
    color: rgb(255, 255, 255);
    background: #34e89e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/**titulo novedades*/
section .tituloCroc{
    color: rgb(253, 253, 253);
    font-size: 46px;
    font-weight: 600;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
/**primera parte main*/
.containerNovedades{
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    justify-content: space-evenly;
}
/**segunda parte main novedades*/
.containerNovedades .cardN{
    padding: 20px;
    width: 330px;
    height: 630px;
    border-radius: 16px;
    box-shadow: 8 2px 2px rgba(0,0,0,0.2);
    overflow: visible;
    text-align: center;
    transition: all 0.25s;
}
/**efecto en 2da parte novedades*/
.containerNovedades .cardN:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
/**tamaño de cards novedades*/
.containerNovedades .cardN img{
    width: 300px;
    height: 220px;
}
/**grosor titulo 3 novedades*/
.containerNovedades .cardN h3{
    font-weight: 600;
}
/**texto de las cards novedades*/
.containerNovedades .cardN p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
/**primera parte main nov*/
.mainNov h2{
    padding: 20px;
}
/**aside novedades*/
aside{
    padding: 20px;
    font-size: 20px;
    font-weight: 60;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
/**h3 aside novedades*/
aside h3{
    font-size: 30px;
}
/**papagayocontacto*/
.background-img-papagayo{
    width: 100%;
    background-image: url(../assets/papagayo.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
/**encabezado contacto*/
header .textoContacto{
    color: rgb(253, 253, 253);
    font-size: 38px;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
/**main contacto*/
main .mainContacto{
    padding: 10px;
    font-style: inherit;
    font-weight: 80px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
main .mainContacto img{
    padding: 20px;
}
/**formulario*/
.formu{
    padding: 20px;
    font-style: inherit;
    font-weight: 80px;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
}
.letter::first-letter{
    color: rgb(19, 133, 85);
    font-size: 40px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contBody header{
grid-area: header;
}
.contBody main{
grid-area: main;
}
.contBody footer{
grid-area: footer;
}
@media (max-width 576px)
.contBody{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(1 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen add (max-width 768px){

    .contBody{
    grid-template-columns: repeat (1 1fr);
    grid-template-rows: repeat (3 1fr);
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}
}
article img{
    width: 60%;
}

